name: API Validation Check

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  verify-api:
    name: Verify TEST
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        package: [ test, prod ]
    env:
      OS_DOMAIN: apps.silver.devops.gov.bc.ca
      GTW_DOMAIN: api.gov.bc.ca
    steps:
      - uses: actions/checkout@v5

      - name: Postman Smoke Test on API Gateway
        uses: matt-ball/newman-action@master
        with:
          collection: postman/FCA.postman_collection.json
          envVar: '[{"key":"URL_FCA","value":"https://${{ github.event.repository.name }}-${{ matrix.package }}.${{ env.GTW_DOMAIN }}"}]'
          reporters: '["cli"]'
          folder: '["general"]'
