name: Scheduled

on:
  schedule: [cron: "0 11 * * 6"] # 3 AM PST = 12 PM UDT, Saturdays
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Penetration Tests
    steps:
      - name: ZAP Scan
        uses: zaproxy/action-full-scan@v0.9.0
        with:
          allow_issue_writing: true
          artifact_name: "zap_api"
          cmd_options: "-a"
          issue_title: "ZAP: API"
          target: https://nr-forest-client-api-test-backend.apps.silver.devops.gov.bc.ca
